* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till sÃ¥ att bilderna fÃ¥r korrekt storlek och deras rÃ¶relse animeras */
/* NÃ¤r ni sÃ¤tter intervallen efter vilken pokemonen fÃ¥r sin nya position bÃ¶r den intervallen Ã¶verensstÃ¤mma med tiden hÃ¤r. 3s. */
.imgbackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.game-field img {
    width: 300px;
    transition: all 3s linear;
    position: absolute;   
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#errormsg {
    position: absolute;
    z-index: 10;
    background-color: antiquewhite;
    padding: 1em;
    top: 3em;
    font-family: verdana;
    border-radius: 2em;
    color: white;
    background-color: rgb(221, 59, 51);
}


.form {
    margin: 0 auto;
    height: 550px;
    width: 550px;
    background: linear-gradient(0deg, rgb(196, 196, 196) 0%, rgb(255, 255, 255) 50%, rgb(221, 59, 51) 50%);
    border-radius: 50%;
    border: 6px solid black;
    padding: 3rem;
    gap: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.form::before {
    content: "";
    position: absolute;      
    width: 550px;
    top: 50%;
    left: 0;
    height: 40px;    
    background-color: black;
  }

.form h1 {
    font-family: "shantell sans";
    color: rgb(255, 255, 255); /* FyllningsfÃ¤rg */
    text-shadow: 
        -2px -2px 0 rgb(0, 0, 0),  
         2px -2px 0 rgb(0, 0, 0),  
        -2px  2px 0 rgb(0, 0, 0),  
         2px  2px 0 rgb(0, 0, 0); /* Skapar en kontur */
    font-weight: bold; /* FÃ¶r att gÃ¶ra texten tydligare */
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.6rem;
}

.form h2 {
    font-family: "shantell sans";
    font-size: 1.4em;
    margin-top: 1rem;
}

#nick {
    height: 2rem;
    margin-right: 0.5rem;
    border: 2px solid black;
    border-radius: 4px;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
}

#nicktext {
    margin-bottom: 1rem;
}

#gender {
    margin-top: 2rem;
}

#age {
    height: 2rem;
    margin-left: 0.5rem;
    border: 2px solid black;
    border-radius: 4px;
    padding-left: 0.5rem;
}

#boy {
    margin-top: 1rem;
}

.form button {
    background-color: rgb(255, 236, 66);
    padding: 1em;
    font-family: "shantell sans";
    font-size: 1em;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 4px;
}

.form-sections {
    margin: 1em;
}

.hide {
    display: none;
}




