* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till sÃ¥ att bilderna fÃ¥r korrekt storlek och deras rÃ¶relse animeras */
/* NÃ¤r ni sÃ¤tter intervallen efter vilken pokemonen fÃ¥r sin nya position bÃ¶r den intervallen Ã¶verensstÃ¤mma med tiden hÃ¤r. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
    position: absolute;
    
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 10em;
    max-width: 600px;
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: blue;
    border: 5px solid blue;
    border-radius: 20px;
    text-decoration: outline;
}

.form h1 {
    font-family: "shantell sans";
    color: yellow; /* FyllningsfÃ¤rg */
    text-shadow: 
        -2px -2px 0 blue,  
         2px -2px 0 blue,  
        -2px  2px 0 blue,  
         2px  2px 0 blue; /* Skapar en kontur */
    font-weight: bold; /* FÃ¶r att gÃ¶ra texten tydligare */
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.form h2 {
    font-family: "shantell sans";
}

.form button {
    background-color: blue;
    padding: 1em;
    font-family: "shantell sans";
    font-size: 1em;
    color: white;
}

.form-sections {
    margin: 1em;
}

.hide {
    display: none;
}